<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582919793610-2perpl7pkc1sotsv7mhi623ri1sukd8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582919793610-2perpl7pkc1sotsv7mhi623ri1sukd8p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>582919793610-tn3vf7esl6cvn1mig83qook84kteu0pg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZGC12tuwjwyie1DjBUNJ7rH_507Z2DT8</string>
	<key>GCM_SENDER_ID</key>
	<string>582919793610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uib.UIBEnglish</string>
	<key>PROJECT_ID</key>
	<string>uibenglish-4ee4e</string>
	<key>STORAGE_BUCKET</key>
	<string>uibenglish-4ee4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582919793610:ios:e93670a30881ec71</string>
	<key>DATABASE_URL</key>
	<string>https://uibenglish-4ee4e.firebaseio.com</string>
</dict>
</plist>